Django==4.2.7
psycopg2-binary==2.9.9
gunicorn==21.2.0
python-decouple==3.8
dj-database-url==2.1.0
djangorestframework==3.14.0
django-cors-headers==4.3.1
pydantic==2.5.0
pydantic-settings==2.1.0
mypy==1.7.1
django-stubs==4.2.7
djangorestframework-stubs==3.14.5
types-requests==2.31.0.10
Pillow==10.1.0
